.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.dot {
  height: 25px;
  width: 25px;
  // background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 20px;
  border-color: #000;
  border: 2px solid black;
}